/*Name: Karthik Prudhivi
G#: G01543977
This is the styles.css file for Homework 1*/
body {
  font-family: Arial, Helvetica, sans-serif;
}

/* Hero Section */
.hero-section {
  background: linear-gradient(135deg, #189e52, #6610f2);
  padding: 60px 0;
}

/* Profile Image */
.profile-img {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #ffffff;
}

/* Card Styling */
.card h2 {
  margin-bottom: 15px;
}


.card {
  border-radius: 14px;
}

legend {
  margin-bottom: 10px;
}
/* Survey link color */
.survey-link {
  color: #ffc107 !important;   /* gold */
  font-weight: 600;
}

.survey-link:hover {
  color: #ffffff !important;   /* white on hover */
  text-decoration: underline;
}


